In [4]:
## Importing the libraries 
import pandas as pd
import numpy as np
import scipy as sp
import xgboost as xgb
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV

In [5]:
cropRec = pd.read_csv('../Crop_recommendation.csv')

In [6]:
cropRec.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [7]:
cropRec.corr()

,N,P,K,temperature,humidity,ph,rainfall
N,1.000000,-0.231460,-0.140512,0.026504,0.190688,0.096683,0.059020
P,-0.231460,1.000000,0.736232,-0.127541,-0.118734,-0.138019,-0.063839
K,-0.140512,0.736232,1.000000,-0.160387,0.190859,-0.169503,-0.053461
temperature,0.026504,-0.127541,-0.160387,1.000000,0.205320,-0.017795,-0.030084
humidity,0.190688,-0.118734,0.190859,0.205320,1.000000,-0.008483,0.094423
ph,0.096683,-0.138019,-0.169503,-0.017795,-0.008483,1.000000,-0.109069
rainfall,0.059020,-0.063839,-0.053461,-0.030084,0.094423,-0.109069,1.000000

In [8]:
cropRec.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [9]:
cropRec.drop('P', inplace=True, axis=1)
cropRec.drop('K', inplace=True, axis=1)
cropRec.drop('label', inplace=True, axis=1)

In [10]:
cropRec

        N  temperature   humidity        ph    rainfall
0      90    20.879744  82.002744  6.502985  202.935536
1      85    21.770462  80.319644  7.038096  226.655537
2      60    23.004459  82.320763  7.840207  263.964248
3      74    26.491096  80.158363  6.980401  242.864034
4      78    20.130175  81.604873  7.628473  262.717340
...   ...          ...        ...       ...         ...
2195  107    26.774637  66.413269  6.780064  177.774507
2196   99    27.417112  56.636362  6.086922  127.924610
2197  118    24.131797  67.225123  6.362608  173.322839
2198  117    26.272418  52.127394  6.758793  127.175293
2199  104    23.603016  60.396475  6.779833  140.937041

[2200 rows x 5 columns]

In [11]:
###Choosing the Dependent and Independent variables
# Independent Variables
x=cropRec.iloc[:,[1,2,3,4]]
x

      temperature   humidity        ph    rainfall
0       20.879744  82.002744  6.502985  202.935536
1       21.770462  80.319644  7.038096  226.655537
2       23.004459  82.320763  7.840207  263.964248
3       26.491096  80.158363  6.980401  242.864034
4       20.130175  81.604873  7.628473  262.717340
...           ...        ...       ...         ...
2195    26.774637  66.413269  6.780064  177.774507
2196    27.417112  56.636362  6.086922  127.924610
2197    24.131797  67.225123  6.362608  173.322839
2198    26.272418  52.127394  6.758793  127.175293
2199    23.603016  60.396475  6.779833  140.937041

[2200 rows x 4 columns]

In [12]:
# Dependent Variable(target column)
y=cropRec.iloc[:,0]
y

0        90
1        85
2        60
3        74
4        78
       ...
2195    107
2196     99
2197    118
2198    117
2199    104
Name: N, Length: 2200, dtype: int64

In [13]:
## TRAIN TEST SPLIT

from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [14]:
def hyperParameterTuning(x_train, y_train):
    param_tuning = {
        'learning_rate': [0.01, 0.1],
        'max_depth': [3, 5, 7, 10],
        'min_child_weight': [1, 3, 5],
        'subsample': [0.5, 0.7],
        'colsample_bytree': [0.5, 0.8],
        'n_estimators' : [100, 200, 500],
        'objective': ['reg:squarederror']
    }

    xgb_model = xgb.XGBRegressor()

    gsearch = GridSearchCV(estimator = xgb_model,
                           param_grid = param_tuning,                        
                           #scoring = 'neg_mean_absolute_error', #MAE
                           #scoring = 'neg_mean_squared_error',  #MSE
                           cv = 5,
                           n_jobs = -1,
                           verbose = 1)

    gsearch.fit(x_train,y_train)

    return gsearch.best_params_

In [15]:
##hyperParameterTuning(x_train, y_train)

In [16]:
from sklearn.metrics import mean_squared_error
xgb_model = xgb.XGBRegressor(n_estimators=1000, max_depth=7, subsample=0.7, colsample_bytree=0.8,min_child_weight=1,learning_rate=0.01,objective='reg:squarederror')

xgb_model.fit(x_train, y_train)
print('Accuracy : {}'.format(xgb_model.score(x_test,y_test)))

Accuracy : 0.7735749593862773

In [17]:
xgb_model.predict(np.array([[20.130175,81.604873,7.628473,262.717340]]))

array([76.20477], dtype=float32)

In [18]:
#Saving our model into a file
import pickle
pickle.dump(xgb_model,open('N.pkl','wb'))